<body style="box-sizing: border-box; margin: 0; padding: 0;">
    <header style="display: flex; justify-content: center; gap: 30px; border-bottom: 2px solid #000; padding: 10px;">
        <a href="/" style="text-decoration: none; color: #000; font-size: 26px;">Livros</a>
        <a href="/cadastrar" style="text-decoration: none; color: #000; font-size: 26px;">Cadastrar</a>
    </header>

    <main style="padding: 30px 20px;">
        <div style="display: flex; justify-content: space-around; align-items: center;">
            <div class="book-box" style="border: 1px solid #000; width: 400px; box-sizing: border-box; margin: 0; padding: 10px; border-radius: 10px;">
            <div class="title" style="text-align: center;">
                <h2>Nome do livro</h2>
            </div>

            <div class="description" style="text-align: justify;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ratione quam atque ad error exercitationem consectetur
                </p>
            </div>

            <div class="category" style="display: flex; justify-content: space-between;">
                <h4>Categoria</h4>

                <h4 id="price">R$ 50,00</h4>
            </div>

            <div class="buttons" style="display: flex; justify-content: space-between;">
                <button id="details" style="background: none; border: 1px solid #3629CB; color: #3629CB; padding: 5px 10px; font-weight: 700; border-radius: 10px; cursor: pointer;"><a href="/view" style="text-decoration: none; color: #3629CB;">Ver detalhes</a></button>

                <button id="details" style="background: none; border: 1px solid #018948; color: #018948; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/update" style="text-decoration: none; color: #018948;">Editar</a></button>
                
                <button id="details" style="background: none; border: 1px solid #AC0000; color: #AC0000; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/delete" style="text-decoration: none; color: #AC0000;">Excluir</a></button>
            </div>
        </div>

        <div class="book-box" style="border: 1px solid #000; width: 400px; box-sizing: border-box; margin: 0; padding: 10px; border-radius: 10px;">
            <div class="title" style="text-align: center;">
                <h2>Nome do livro</h2>
            </div>

            <div class="description" style="text-align: justify;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ratione quam atque ad error exercitationem consectetur
                </p>
            </div>

            <div class="category" style="display: flex; justify-content: space-between;">
                <h4>Categoria</h4>

                <h4 id="price">R$ 50,00</h4>
            </div>

            <div class="buttons" style="display: flex; justify-content: space-between;">
                <button id="details" style="background: none; border: 1px solid #3629CB; color: #3629CB; padding: 5px 10px; font-weight: 700; border-radius: 10px; cursor: pointer;"><a href="/view" style="text-decoration: none; color: #3629CB;">Ver detalhes</a></button>

                <button id="details" style="background: none; border: 1px solid #018948; color: #018948; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/update" style="text-decoration: none; color: #018948;">Editar</a></button>
                
                <button id="details" style="background: none; border: 1px solid #AC0000; color: #AC0000; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/delete" style="text-decoration: none; color: #AC0000;">Excluir</a></button>
            </div>
        </div>

        <div class="book-box" style="border: 1px solid #000; width: 400px; box-sizing: border-box; margin: 0; padding: 10px; border-radius: 10px;">
            <div class="title" style="text-align: center;">
                <h2>Nome do livro</h2>
            </div>

            <div class="description" style="text-align: justify;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ratione quam atque ad error exercitationem consectetur
                </p>
            </div>

            <div class="category" style="display: flex; justify-content: space-between;">
                <h4>Categoria</h4>

                <h4 id="price">R$ 50,00</h4>
            </div>

            <div class="buttons" style="display: flex; justify-content: space-between;">
                <button id="details" style="background: none; border: 1px solid #3629CB; color: #3629CB; padding: 5px 10px; font-weight: 700; border-radius: 10px; cursor: pointer;"><a href="/view" style="text-decoration: none; color: #3629CB;">Ver detalhes</a></button>

                <button id="details" style="background: none; border: 1px solid #018948; color: #018948; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/update" style="text-decoration: none; color: #018948;">Editar</a></button>
                
                <button id="details" style="background: none; border: 1px solid #AC0000; color: #AC0000; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/delete" style="text-decoration: none; color: #AC0000;">Excluir</a></button>
            </div>
        </div>
        </div>

        <div style="display: flex; justify-content: space-around; align-items: center; padding-top: 40px; margin-bottom: 60px;">
            <div class="book-box" style="border: 1px solid #000; width: 400px; box-sizing: border-box; margin: 0; padding: 10px; border-radius: 10px;">
            <div class="title" style="text-align: center;">
                <h2>Nome do livro</h2>
            </div>

            <div class="description" style="text-align: justify;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ratione quam atque ad error exercitationem consectetur
                </p>
            </div>

            <div class="category" style="display: flex; justify-content: space-between;">
                <h4>Categoria</h4>

                <h4 id="price">R$ 50,00</h4>
            </div>

            <div class="buttons" style="display: flex; justify-content: space-between;">
                <button id="details" style="background: none; border: 1px solid #3629CB; color: #3629CB; padding: 5px 10px; font-weight: 700; border-radius: 10px; cursor: pointer;"><a href="/view" style="text-decoration: none; color: #3629CB;">Ver detalhes</a></button>

                <button id="details" style="background: none; border: 1px solid #018948; color: #018948; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/update" style="text-decoration: none; color: #018948;">Editar</a></button>
                
                <button id="details" style="background: none; border: 1px solid #AC0000; color: #AC0000; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/delete" style="text-decoration: none; color: #AC0000;">Excluir</a></button>
            </div>
        </div>

        <div class="book-box" style="border: 1px solid #000; width: 400px; box-sizing: border-box; margin: 0; padding: 10px; border-radius: 10px;">
            <div class="title" style="text-align: center;">
                <h2>Nome do livro</h2>
            </div>

            <div class="description" style="text-align: justify;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ratione quam atque ad error exercitationem consectetur
                </p>
            </div>

            <div class="category" style="display: flex; justify-content: space-between;">
                <h4>Categoria</h4>

                <h4 id="price">R$ 50,00</h4>
            </div>

            <div class="buttons" style="display: flex; justify-content: space-between;">
                <button id="details" style="background: none; border: 1px solid #3629CB; color: #3629CB; padding: 5px 10px; font-weight: 700; border-radius: 10px; cursor: pointer;"><a href="/view" style="text-decoration: none; color: #3629CB;">Ver detalhes</a></button>

                <button id="details" style="background: none; border: 1px solid #018948; color: #018948; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/update" style="text-decoration: none; color: #018948;">Editar</a></button>
                
                <button id="details" style="background: none; border: 1px solid #AC0000; color: #AC0000; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/delete" style="text-decoration: none; color: #AC0000;">Excluir</a></button>
            </div>
        </div>

        <div class="book-box" style="border: 1px solid #000; width: 400px; box-sizing: border-box; margin: 0; padding: 10px; border-radius: 10px;">
            <div class="title" style="text-align: center;">
                <h2>Nome do livro</h2>
            </div>

            <div class="description" style="text-align: justify;">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ratione quam atque ad error exercitationem consectetur
                </p>
            </div>

            <div class="category" style="display: flex; justify-content: space-between;">
                <h4>Categoria</h4>

                <h4 id="price">R$ 50,00</h4>
            </div>

            <div class="buttons" style="display: flex; justify-content: space-between;">
                <button id="details" style="background: none; border: 1px solid #3629CB; color: #3629CB; padding: 5px 10px; font-weight: 700; border-radius: 10px; cursor: pointer;"><a href="/view" style="text-decoration: none; color: #3629CB;">Ver detalhes</a></button>

                <button id="details" style="background: none; border: 1px solid #018948; color: #018948; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/update" style="text-decoration: none; color: #018948;">Editar</a></button>
                
                <button id="details" style="background: none; border: 1px solid #AC0000; color: #AC0000; padding: 5px 10px; font-weight: 700; border-radius: 10px;cursor: pointer;"><a href="/delete" style="text-decoration: none; color: #AC0000;">Excluir</a></button>
            </div>
        </div>
        </div>
    </main>

    <footer style="border-top: 1px solid #000;">
        <h1 style="text-align: center;">RODAPÉ</h1>
    </footer>
</body>